
.questions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--light-primary);
}

.questions-item {
    border-radius: 25px;
    overflow: hidden;
}

.questions-content-box {
    background-color: var(--bg-accent-color);
    padding: 12px 42px;
}
.questions-title {
    display: grid;
    grid-template-columns: 1fr 20px;
    cursor: pointer;
    align-items: center;
    font-size: 22px;
}

.icon {
    width: 30px;
    height: 25px;
    fill: var(--light-primary);
}

.questions-content {
    display: none;
}