
@media(min-width:992px){

    .hero {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .hero >.img-box{
        height: 300px;
    }

    .hero-box{
       width: 100%;
    }
}

.hero-btn {
    margin: 25px auto;
}

.main-img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 688px;
    padding: 0;
    margin: 0;
}

@media(min-width:992px){

    .interface> .choose-list{
      padding: 10px;
      flex-direction: row;
      flex-wrap: wrap;
    } 
}

.main-icon-uoutube{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 98px; 
    height: 68px; 
    background: url('https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg') no-repeat center center; 
    background-size: contain;

    @media (min-width:768px) {
        width: 155px;
        height: 104px;
    }
}