table {
    width: 100%;
    border-collapse: collapse; 
    /* margin-bottom: 20px; */
    overflow-x: auto; 
    display: block; 
}

thead, th {
    background-color: #f4f4f4;
    font-weight: bold; 
    text-align: left;
}

tbody td {
    border: 1px solid var(--border-color); 
    padding: 10px; 
    text-align: left; 
    vertical-align: middle; 
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
}

tbody tr {
    display: block; 
    margin-bottom: 10px; 
}

tbody tr:nth-child(even) {
    background-color: var(--bg-td); 
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-center>a{
    transition: all 0.3s ease;
}

.content-center>a:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    thead {
        display: none; 
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 10px;
        font-size: 14px; 
        border: 1px solid var(--border-color);
        box-sizing: border-box;
    }

    tbody td:before {
        content: attr(data-label); 
        font-weight: bold;
        flex: 1;
        padding-right: 10px;
        text-align: left;
        border-right: 1px solid var(--border-color); 
        padding-right: 10px; 
        margin-right: 10px; 
    }

    tbody td {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}