/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	-o-tab-size: 4;
	   tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

:root {
    --bg-accent-color:#12afed;
    --light-primary: #fff;
    --accent-color: #f33ea0;
    --accent-color-secondarily: #ed3a98;
    --dark-primary: #000000;
    --border-color: #ddd;
    --bg-td:#f9f9f9;
    --btn-color:#e40310;
    --bg-gradient: linear-gradient(to bottom, #000000, #333333);
}

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */

*:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */

a,
button {
    cursor: revert;
    text-decoration: none;
    
}

/* Remove list styles (bullets/numbers) */

ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */

img {
    max-inline-size: 100%;
    max-block-size: 100%;
    height: auto;
}

/* removes spacing between cells in tables */

table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */

input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */

textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */

meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
         appearance: revert;
}

/* preformatted text - use only for this feature */

:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */

::-moz-placeholder {
    color: unset;
}

::placeholder {
    color: unset;
}

/* remove default dot (•) sign */

::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */

:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */

:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

body{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    @media (min-width:768px) {
      font-size: 17px;
    }
}

h1,h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

h3{
    font-weight: 600;
    font-size: 20px;
    margin-top:10px;
}

.section{
    padding: 20px;
    max-width: 720px;
    margin: 0 auto;
}

.section-top{
    padding-top: 100px;
}

.btn {
    position: relative;
    width: 250px;
    height: 65px;
    border-radius: 45px;
    border: none;
    background-color:var(--btn-color);
    color: var(--light-primary);
    text-transform: uppercase;
   cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-weight: 900;
  }

.btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }

.btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }

.btn:hover {
    transform: scale(1.1);
  }

.img-box{
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;

    @media (max-width:992px) {
        margin: 0 auto;
    }
  }

.no-scroll {
    overflow: hidden;
  }

.nav-link.active {
    border-bottom: 2px solid var(--bg-accent-color);
    color: var(--bg-accent-color);
    
}

.nav-link-mob.active {
  border-bottom: 2px solid var(--bg-td);
  color: var(--bg-td);
  
}

.hidden {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.header {
    position: fixed;
    background-color: var(--light-primary);
    width: 100%;
   padding: 10px 35px 10px 15px;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
   z-index: 998;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width:992px){
     justify-content: space-evenly;
    }
}

.nav-mob.is-visible {
    transform: translateY(0);
}

.logo-link {
transition: all 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.nav-list {
    display: none;
 }

@media (min-width: 992px) {
    .nav-list {
       display: flex;
       gap: 24px;
    }
 }

.nav-item {
transition: all 0.3s ease;

    &:hover{
        color: var(--bg-accent-color);
    }
}

.burger-btn {
height: auto;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
    @media (min-width:992px) {
        display: none;
    }
}

.nav-mob {
    transform: translateY(-200%);
    background-color: var(--bg-accent-color);
    color: var(--light-primary);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease;
}

.nav-btn-close{
position: absolute;
top: 20px;
right: 40px;;
}

.nav-list-mob {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top-line, .middle-line,.bottom-line {
    display: block;
    width: 20px;
    height: 1.5px;
    border-radius: 15px;
    background-color: black;
}

.choose-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    padding: 20px 0px 0px 40px;
}

.choose-item{
    position: relative;
    padding: 10px 25px 10px 40px;
    border-radius: 10px;
    background: var(--bg-accent-color);
    color: var(--light-primary);

    &::before {
        content: attr(data-title);
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-weight: 700;
        font-size: 38px;
        background: linear-gradient(145deg, var(--accent-color), var(--accent-color-secondarily));
        border-radius: 50%;
        z-index: 2;
        color: var(--light-primary);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
                    inset 0px -3px 6px rgba(0, 0, 0, 0.3),
                    inset 0px 3px 6px rgba(255, 255, 255, 0.3);
    }
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--light-primary);
}

.questions-item {
    border-radius: 25px;
    overflow: hidden;
}

.questions-content-box {
    background-color: var(--bg-accent-color);
    padding: 12px 42px;
}

.questions-title {
    display: grid;
    grid-template-columns: 1fr 20px;
    cursor: pointer;
    align-items: center;
    font-size: 22px;
}

.icon {
    width: 30px;
    height: 25px;
    fill: var(--light-primary);
}

.questions-content {
    display: none;
}

.footer{
    width: 100%;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
    background: var( --bg-gradient);
    color: var(--light-primary);
}

.footer-text{
font-size: 12px;
}

.footer-payment-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-payment-list {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

@media(min-width:992px){

    .hero {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .hero >.img-box{
        height: 300px;
    }

    .hero-box{
       width: 100%;
    }
}

.hero-btn {
    margin: 25px auto;
}

.main-img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 688px;
    padding: 0;
    margin: 0;
}

@media(min-width:992px){

    .interface> .choose-list{
      padding: 10px;
      flex-direction: row;
      flex-wrap: wrap;
    } 
}

.main-icon-uoutube{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 98px; 
    height: 68px; 
    background: url('https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg') no-repeat center center; 
    background-size: contain;

    @media (min-width:768px) {
        width: 155px;
        height: 104px;
    }
}

table {
    width: 100%;
    border-collapse: collapse; 
    /* margin-bottom: 20px; */
    overflow-x: auto; 
    display: block; 
}

thead, th {
    background-color: #f4f4f4;
    font-weight: bold; 
    text-align: left;
}

tbody td {
    border: 1px solid var(--border-color); 
    padding: 10px; 
    text-align: left; 
    vertical-align: middle; 
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
}

tbody tr {
    display: block; 
    margin-bottom: 10px; 
}

tbody tr:nth-child(even) {
    background-color: var(--bg-td); 
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-center>a{
    transition: all 0.3s ease;
}

.content-center>a:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    thead {
        display: none; 
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 10px;
        font-size: 14px; 
        border: 1px solid var(--border-color);
        box-sizing: border-box;
    }

    tbody td:before {
        content: attr(data-label); 
        font-weight: bold;
        flex: 1;
        padding-right: 10px;
        text-align: left;
        border-right: 1px solid var(--border-color); 
        padding-right: 10px; 
        margin-right: 10px; 
    }

    tbody td {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}

.earnings-list>li>span{
    color: var(--btn-color);
}

@media (min-width:992px) {
    .download-box{
        display: flex;
        gap: 20px;
    }
}

.download p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.download-top {
    border: 1px solid var(--border-color);
    padding: 5px;
    margin-bottom: 15px;

    @media (min-width:992px) {
        width: 50%;
      }
}

.download-android-list>li {
    margin-bottom: 15px;
}

.download-list>li>span {
   color: var(--btn-color);
}

.download-bottom {
    border: 1px solid var(--border-color);
    padding: 5px;

    @media (min-width:992px) {
      width: 50%;
    }
}

