<footer class="footer">
    <div class="footer-payment-box">
      <p class="footer-payment-text">FORMAS DE PAGAMENTO</p>
      <ul class="footer-payment-list">
          <li class="footer-payment-item">
            <img src="./src/img/visa.webp" alt="Balloon Oyunu: Balon Şişirme ve Patlatma Üzerine Bahisler" width="60" height="30" loading="lazy">
            <!-- <a href="" rel="noreferrer noopener">
           <img src="./src/img/visa.webp" alt="visa" width="60" height="30">
            </a> -->
            </li>
              <li class="footer-payment-item">
                <img src="./src/img/mc.webp" alt="Balloon Oyunu: Balon Şişirme ve Patlatma Üzerine Bahisler" width="55" height="30" loading="lazy">
                <!-- <a href="" rel="noreferrer noopener"><img src="./src/img/mc.webp" alt="mc" width="55" height="30"></a> -->
                </li>
                  <li class="footer-payment-item">
                    <img src="./src/img/payfix.webp" alt="Balloon Oyunu: Balon Şişirme ve Patlatma Üzerine Bahisler" width="75" height="30" loading="lazy">
                    <!-- <a href="" rel="noreferrer noopener"><img src="./src/img/payfix.webp" alt="visa" width="75" height="30"></a> -->
                    </li>
                      <li class="footer-payment-item">
                        <img src="./src/img/papara.webp" alt="Balloon Oyunu: Balon Şişirme ve Patlatma Üzerine Bahisler" width="60" height="30" loading="lazy">
                        <!-- <a href="" rel="noreferrer noopener">  <img src="./src/img/papara.webp" alt="visa" width="60" height="30"></a> -->
                      </li>
                          <li class="footer-payment-item">
                            <img src="./src/img/bank.webp" alt="Balloon Oyunu: Balon Şişirme ve Patlatma Üzerine Bahisler" width="60" height="30" loading="lazy">
                            <!-- <a href="" rel="noreferrer noopener"> <img src="./src/img/bank.webp" alt="visa" width="60" height="30"></a> -->
                           </li>
      </ul>
  </div>

 <div>
    <div class="footer-img-box"><img src="./src/img/18plus.webp" alt="18+" width="70" height="70"></div>
  
    <p class="footer-text">2024, All rights reserved</p>
 </div>
  </footer>