<header class="header">
    <div class="header-container">
      <img class="logo" src="./src/img/logo_11zon.webp" alt="balloon" width="70" height="50">
      <a class="logo-link hover" href="https://balonoyunubahis.com/">
        <img class="logo-img" src="./src/img/logo_11zon.webp" alt="balloon" width="70" height="50">
    </a>

     <nav class="nav">
            <ul class="nav-list" >
                <li class="nav-item hover home" style="display: none;">
                    <a class="nav-link" href="https://balonoyunubahis.com/">
                        Ev
                </a>
            </li>
                <li class="nav-item hover">
                    <a class="nav-link" href="./how-play.html">
                        Nasıl oynanır
                </a>
            </li>
            <li class="nav-item hover">
                <a class="nav-link" href="./where-play.html">
                    Nerede oynanır
            </a>
        </li>

        <li class="nav-item hover">
            <a class="nav-link" href="./demo.html">
                Demo sürümü
        </a>
          </li>

          <li class="nav-item hover">
            <a class="nav-link" href="./earnings.html">
              Para kazan
        </a>
          </li>

          <li class="nav-item hover">
            <a class="nav-link" href="./download.html">
              İndirmek
        </a>
          </li>

        
            </ul>
     </nav>

     <button class="burger-btn" type="button" aria-label="open-menu">
      <span class="top-line"></span>
      <span class="middle-line"></span>
      <span class="bottom-line"></span>
    </button>

    </div>

    <nav class="nav-mob">
      <button class="nav-btn-close" type="button" aria-label="close-menu">
        <svg width="24" height="24">
        <use href="./src/img/close_cross_icon_128690.svg#close"></use>
        </svg>
    </button>
    <ul class="nav-list-mob">
      <li class="nav-item-mob home" style="display: none;">
          <a class="nav-link-mob" href="https://balonoyunubahis.com/">Ev</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./how-play.html">Nasıl oynanır</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./where-play.html">Nerede oynanır</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./demo.html">Demo sürümü</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./earnings.html">Para kazan</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./download.html">İndirmek</a>
      </li>
  </ul>
   </nav>

   
</header>
