<header class="header">
    <div class="header-container">

      <a class="logo-link hover" href="./index.html">
        <img class="logo-img" src="./src/img/logo_11zon.webp" alt="balloon" width="120" height="45">
    </a>

     <nav class="nav">
            <ul class="nav-list" >
                <li class="nav-item hover home" style="display: none;">
                    <a class="nav-link" href="./index.html">
                        Ev
                </a>
            </li>
                <li class="nav-item hover">
                    <a class="nav-link" href="./howPlay.html">
                        Nasıl oynanır
                </a>
            </li>
            <li class="nav-item hover">
                <a class="nav-link" href="./wherePlay.html">
                    Nerede oynanır
            </a>
        </li>

        <li class="nav-item hover">
            <a class="nav-link" href="./demo.html">
                Demo sürümü
        </a>
          </li>

          <li class="nav-item hover">
            <a class="nav-link" href="./bonus.html">
                Nerede oynanır
        </a>
          </li>

          <li class="nav-item hover">
            <a class="nav-link" href="./bonus.html">
                Nasıl kazanılır
        </a>
          </li>

        
            </ul>
     </nav>

     <button class="burger-btn">
      <svg width="24" height="24">
        <use href="./src/img/burger_line_list_menu_nav_navigation_option_icon_123231.svg#burger"></use>
      </svg>
    </button>

    </div>

    <nav class="nav-mob">
      <button class="nav-btn-close">
        <svg width="24" height="24">
        <use href="./src/img/close_cross_icon_128690.svg#close"></use>
        </svg>
    </button>
      <ul class="nav-list-mob">
        <li class="nav-item-mob home" style="display: none;">
            <a class="nav-link-mob" href="./index.html">Ev</a>
       </li>
          <li class="nav-item-mob">
              <a class="nav-link-mob" href="./howPlay.html">Nasıl oynanır</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./wherePlay.html">Nerede oynanır</a>
  </li>

  <li class="nav-item-mob">
      <a class="nav-link-mob" href="./demo.html">Demo sürümü</a>
    </li>
         <li class="nav-item-mob">
      <a class="nav-link-mob" href="">Nerede oynanır</a>
    </li>
    <li class="nav-item-mob">
      <a class="nav-link-mob" href="">Nasıl kazanılır</a>
    </li>
      </ul>
   </nav>

   
</header>
